<br>
<div class="container">

<div class="row">
  <div class="col-lg-1">

  </div>

  <div class="col-lg-9" >
    <div *ngIf="ItemName">
      <form class="example-form" >
        <div class="form-group">
          <mat-form-field class="example-full-width" style="width: 70%">
            <input type="text" placeholder="Select Item"  matInput [formControl]="myControl" [matAutocomplete]="auto"
                   class="form-control "  [(ngModel)]="userFilter.Name">


            <mat-autocomplete #auto="matAutocomplete">
              <mat-option *ngFor="let option of ItemName | filterBy: userFilter" [value]="option.Name" (click)="itemNames(option)" id="autoCompleteInput" >
                {{option.Name}}
              </mat-option>
            </mat-autocomplete>
          </mat-form-field>
        </div>
      </form>

    </div>


    <div *ngIf="contains">

      <br>
      <div  class="col-sm-12">
        <table class="table">
          <tr>
            <th>
              ItemName
            </th>
            <th>
              Quantity
            </th>
            <th>
              TotalCost
            </th>
            <th>
              RemoveItems
            </th>
          </tr>
          <tr *ngFor="let itemAndDetails of ItemDataDetails">
            <td>
              {{itemAndDetails.itemName}}
            </td>
            <td>
              <select [(ngModel)]="itemAndDetails.quantity" class="form-control" (click)="cost(itemAndDetails)" >

                <option *ngFor="let countOfItems of count">
                  {{countOfItems}}
                </option>
              </select>

            </td>
            <td>
              {{itemAndDetails.cost}}
            </td>
            <td>
              <button type="button" class="btn btn-danger" (click)="removeItem(itemAndDetails)">Remove</button>
            </td>
          </tr>
        </table>
        <table class="table">
          <tr>
            <th>Total Cost</th>
            <td>{{itemsTotalCost}}</td>
            <td></td>
          </tr>

        </table>
        <br>

        <div class="form-group row">
          <div class="col-sm-2"><label>Customer Name:</label></div>
          <div class="col-sm-6">
            <input type="text" class="form-control" placeholder="Name" aria-label="Username" aria-describedby="basic-addon1"
                   [(ngModel)]="customerName"  (input)="disableOrEnableButton()" >
          </div>

        </div>

        <button (click)="makePayment()" class="btn btn-light" [disabled]="paymentOption">Make Payment</button>


      </div>



    </div>


</div>
  <div class="col-lg-2">
    <button (click)="previousBills()" class="btn btn-info" >Previous Bills</button>

  </div>
</div>
</div>
