<br>


<div class="row">
  <div class="col-sm-1">

  </div>

  <div class="col-sm-9" *ngIf="ItemName">

        <form class="example-form" >
         <div class="form-group">
          <mat-form-field class="example-full-width">
            <input type="text" placeholder="Pick one"  matInput [formControl]="myControl" [matAutocomplete]="auto"
                   class="form-control "  [(ngModel)]="userFilter.Name"> <!--aria-label="Number"-->


            <mat-autocomplete #auto="matAutocomplete">
              <mat-option *ngFor="let option of ItemName | filterBy: userFilter" [value]="option.Name" (click)="itemNames(option)">
                {{option.Name}}
              </mat-option>
            </mat-autocomplete>
          </mat-form-field>
         </div>
        </form>
    <div *ngIf="contains">
      <!--                    Item is present and the cost of Item is &nbsp;<b>{{ItemCost}}</b> rs-->

      <br>
      <div  class="col-sm-12">
        <table class="table">
          <tr>
            <th>
              ItemName
            </th>
            <th>
              Quantity
            </th>
            <th>
              TotalCost
            </th>
          </tr>


          <tr *ngFor="let itemAndDetails of ItemDataDetails">
            <td>
              {{itemAndDetails.itemName}}
            </td>
            <td>
              <select [(ngModel)]="selectedOption[itemAndDetails.itemCount]" class="form-control" (click)="cost(itemAndDetails)">

                <option *ngFor="let countOfItems of count">
                  {{countOfItems}}
                </option>
              </select>

              <!--                  {{itemAndDetails.quantity}}-->
            </td>
            <td>
              {{itemAndDetails.totalCost}}
            </td>
          </tr>





        </table>
        <table class="table">
          <tr>
            <th>Total Cost</th>
            <td>{{itemsTotalCost}}</td>
            <td></td>
          </tr>

        </table>
        <br>

        <div class="form-group row">
          <div class="col-sm-2"><label>Customer Name:</label></div>
          <div class="col-sm-6">
            <input type="text" class="form-control" placeholder="Name" aria-label="Username" aria-describedby="basic-addon1"
                   [(ngModel)]="customerName"  (input)="disableOrEnableButton()" >
          </div>

        </div>

        <button (click)="makePayment()" class="btn btn-light" [disabled]="paymentOption">Make Payment</button>

<!--        <input #imageInput type="file" accept="image/*" (change)="processFile($event)">-->

      </div>



    </div>


</div>





  <div class="col-sm-2">
    <button (click)="previousBills()" class="btn btn-info" >Previous Bills</button>

  </div>
</div>

