<br>
<br>


<div *ngIf="details" >
  <mat-card>
  <div class="row">
    <div class="col-lg-2"></div>
    <div class="col-lg-3"></div>
    <div class="col-lg-6"><b>Purchase Id</b> : {{details[0].id}}</div>
  </div>
</mat-card>

  <br>
  <br>
     <div class="row">
       <div class="col-lg-3">
         <b>PurchasedOn</b>
       </div>
       <div class="col-lg-3">
         {{details[0].purchasedOn}}
       </div>

     </div>
  <br>

  <div class="row">
    <div class="col-lg-3">
      <b>PurchasedBy</b>
    </div>
    <div class="col-lg-3">
      {{details[0].purchasedBy}}
    </div>

  </div>

  <br>
  <div class="row">
    <div class="col-lg-6"></div>
    <div class="col-lg-6">

        <b>List Of Items</b>


    </div>
  </div>
  <br>

  <div class="row">
    <div class="col-lg-3"></div>
   <div class="col-lg-3"><b>Product Name</b></div>
    <div class="col-lg-3"><b>Quantity</b></div>
    <div class="col-lg-3"><b>Total Cost</b></div>

  </div>
  <br>


<div *ngFor="let item of details[0].items">
  <div class="row">
    <div class="col-lg-3"></div>

<!--{{item.ProductModel.Name}}-->
    <div class="col-lg-3">{{item.ProductModel.Name}}</div>
    <div class="col-lg-3">{{item.quantity}}</div>

    <div class="col-lg-3">{{item.totalCost}}</div>



  </div>

  <div>

  </div>

</div>


</div>


