<br>
<div class="row">
  <div class="col-lg-3"></div>
  <div class="col-lg-4">  <b>Previous Orders Details</b></div>
  <div class="col-lg-5">
    <input type="text" class="form-control" placeholder="search by Name and day" [(ngModel)]="searchingItem" (input)="ResultDataAfterSearch()">
  </div>

</div>
<br>
<div class="row">
  <div class="col-lg-4">
    <input type="text" class="form-control" placeholder="search by Name" [(ngModel)]="searchingbyName" (input)="ResultDataAfterSearchByName()">
  </div>
  <div class="col-lg-4">
    <input type="text" class="form-control" placeholder="search by Day" [(ngModel)]="searchingbyDay" (input)="ResultDataAfterSearchbyDay()">
  </div>
  <div class="col-lg-4">
    <input type="text" class="form-control" placeholder="pending search by min and max price" [(ngModel)]="searchingbyPrice" (input)="ResultDataAfterSearch()">
  </div>

</div>
<br>
<!--<div class="row">
  <div class="col-lg-3">
    <b>Id</b>
  </div>
  <div class="col-lg-3">
    <b>PurchasedBy</b>
  </div>
  <div class="col-lg-3">
    <b>PurchasedOn</b>
  </div>
  <div class="col-lg-3">
    <b>Total Price</b>

  </div>

</div>
<div *ngFor="let order of previousBills | paginate: {itemsPerPage: 5, currentPage: p, totalItems:total}" >
  <div class="row">
    <div class="col-lg-3">{{order.id}}</div>
    <div class="col-lg-3">{{order.purchasedBy}}</div>
    <div class="col-lg-3">{{order.purchasedOn}}</div>
    <div class="col-lg-3">{{order.items | itemsCost}}</div>
  </div>

</div>
<pagination-controls (pageChange)="getPage($event)"></pagination-controls>-->
<div *ngIf="previousBills">
  <table class="table">
    <tr>
      <th>PurchasedBy</th>
      <th>PurchasedOn</th>
      <th>Total Price</th>
    </tr>

    <tr *ngFor="let order of previousBills | paginate: {itemsPerPage: page.itemsPerPage, currentPage: p, totalItems:total}"  (click)="details(order)">
      <!--| paginate: { itemsPerPage: 5, currentPage: p }"-->

      <td>{{order.purchasedBy}}</td>
      <td>{{order.purchasedOn}}</td>
      <td>{{order.total}}</td>
<!--      <td>{{order.items | itemsCost}}</td>-->




    </tr>

        <pagination-controls (pageChange)="getPage($event)"></pagination-controls>




  </table>

</div>
<!--
      <td>
        {{order.items | totalItems}}
      </td>

      <td >

        {{order.items | listOfItems}}
      </td>

<div *ngIf="previousBills">

</div>

<mat-table class="lessons-table mat-elevation-z8" [dataSource]="previousBills">
  <ng-container matColumnDef="purchasedBy">
    <mat-header-cell *matHeaderCellDef>purchasedBy</mat-header-cell>
    <mat-cell *matCellDef="let billDetails">{{billDetails.purchasedBy}}</mat-cell>
  </ng-container>

  <ng-container matColumnDef="ListOfItems">
    <mat-header-cell *matHeaderCellDef>ListOfItems</mat-header-cell>
    <mat-cell *matCellDef="let billDetails">{{billDetails.ListOfItems}}</mat-cell>
  </ng-container>


  <ng-container matColumnDef="total">
    <mat-header-cell *matHeaderCellDef>TotalCost</mat-header-cell>
    <mat-cell *matCellDef="let billDetails">{{billDetails.total}}</mat-cell>
  </ng-container>


  <ng-container matColumnDef="id">
    <mat-header-cell *matHeaderCellDef>id</mat-header-cell>
    <mat-cell *matCellDef="let billDetails">{{billDetails.id}}</mat-cell>
  </ng-container>

  <ng-container matColumnDef="purchasedOn">
    <mat-header-cell *matHeaderCellDef>purchasedOn</mat-header-cell>
    <mat-cell *matCellDef="let billDetails">{{billDetails.purchasedOn}}</mat-cell>
  </ng-container>


  <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>

  <mat-row *matRowDef="let row; columns: displayedColumns"></mat-row>

</mat-table>

-->
