<br>
<div class="row">
  <div class="col-lg-3"></div>
  <div class="col-lg-4">  <b>Previous Orders Details</b></div>
  <div class="col-lg-5">
    <input type="text" class="form-control" placeholder="Search" [(ngModel)]="searchingItem" (input)="ResultDataAfterSearch()">
  </div>

</div>
<div class="row">
  <div class="col-lg-2">
    <br>
    <input type="text" class="form-control" placeholder="Search By Name" [(ngModel)]="searchingbyName" (input)="ResultDataAfterSearchByName()">
  </div>
  <div class="col-lg-2" id="DatePadding">
    <mat-form-field>
      <input matInput [matDatepicker]="picker" placeholder="Choose A date" [(ngModel)]="searchingbyDate"
             (dateInput)="ResultDataAfterSearchbyDate()" [matDatepickerFilter]="myFilter" >
      <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
      <mat-datepicker #picker startView="year"></mat-datepicker>
    </mat-form-field>

  </div>
  <div class="col-lg-2">
    <br>
    <input type="text" class="form-control" placeholder="Search By Day" [(ngModel)]="searchingbyDay" (input)="ResultDataAfterSearchbyDay()">

  </div>
  <div class="col-lg-2">
    <br>
    <input type="text" class="form-control" placeholder="Min Price Not Yet done" [(ngModel)]="searchingbyMinPrice" (input)="SearchByMin()">

  </div>

  <div class="col-lg-2">
    <br>
    <input type="text" class="form-control" placeholder="Enter Max Price" [(ngModel)]="searchingbyMaxPrice" (input)="SearchByMax()">
  </div>
</div>
<br>
<div class="container" *ngIf="previousBills">
  <table class="table table-hover">
    <thead>
    <tr>
      <th>PurchasedBy</th>
      <th>PurchasedOn</th>
      <th>Day</th>
      <th>Total Price</th>
    </tr>
    </thead>


    <tr id="cursor" *ngFor="let order of previousBills | paginate: {itemsPerPage: page.itemsPerPage, currentPage: p, totalItems:total}"  (click)="details(order)"
    >
      <!--| paginate: { itemsPerPage: 5, currentPage: p }"-->

      <td>{{order.purchasedBy}}</td>
      <td>{{order.createdAt}}</td>
      <td>{{order.purchasedOn}}</td>
      <td>{{order.total}}</td>
      <!--      <td>{{order.items | itemsCost}}</td>-->




    </tr>
    <!--    <div (show)="total>itemsPerPage">-->


    <!-- </div>-->
    <div *ngIf="total>itemsPerPage">
      {{total}}
      {{itemsPerPage}}
      <pagination-controls (pageChange)="getPage($event)"></pagination-controls>
    </div>






  </table>

</div>
<!--
      <td>
        {{order.items | totalItems}}
      </td>

      <td >

        {{order.items | listOfItems}}
      </td>

<div *ngIf="previousBills">

</div>

<mat-table class="lessons-table mat-elevation-z8" [dataSource]="previousBills">
  <ng-container matColumnDef="purchasedBy">
    <mat-header-cell *matHeaderCellDef>purchasedBy</mat-header-cell>
    <mat-cell *matCellDef="let billDetails">{{billDetails.purchasedBy}}</mat-cell>
  </ng-container>

  <ng-container matColumnDef="ListOfItems">
    <mat-header-cell *matHeaderCellDef>ListOfItems</mat-header-cell>
    <mat-cell *matCellDef="let billDetails">{{billDetails.ListOfItems}}</mat-cell>
  </ng-container>


  <ng-container matColumnDef="total">
    <mat-header-cell *matHeaderCellDef>TotalCost</mat-header-cell>
    <mat-cell *matCellDef="let billDetails">{{billDetails.total}}</mat-cell>
  </ng-container>


  <ng-container matColumnDef="id">
    <mat-header-cell *matHeaderCellDef>id</mat-header-cell>
    <mat-cell *matCellDef="let billDetails">{{billDetails.id}}</mat-cell>
  </ng-container>

  <ng-container matColumnDef="purchasedOn">
    <mat-header-cell *matHeaderCellDef>purchasedOn</mat-header-cell>
    <mat-cell *matCellDef="let billDetails">{{billDetails.purchasedOn}}</mat-cell>
  </ng-container>


  <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>

  <mat-row *matRowDef="let row; columns: displayedColumns"></mat-row>

</mat-table>

-->
