<nav class=" container-fluid navbar navbar-expand-lg bg-dark navbar-dark">
  <a class="navbar-brand" [routerLink]="['/search']">Buy A Product</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
<!--        <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>-->
        <a class="nav-link" [routerLink]="['/previousOrders']"><i class="fas fa-home"></i> Previous Orders <span class="sr-only">(current)</span></a>
      </li>
    </ul>
  </div>
     <div class="dropdown col-lg-2">
       <div class="dropdown-toggle cursor"  data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
         <i class="fas fa-shopping-cart "></i>
       </div>
       <div class="dropdown-menu cursor" aria-labelledby="dropdownMenuButton">
         <a class="dropdown-item" (click)="viewOrders()">View Orders</a>
       </div>
     </div>
</nav>

