
<br>
<br>
<div class="text-center">

<div class="row">
  <div class="col-sm-6">
    <mat-list>
      <h2 mat-subheader>payment successful</h2>
      <ngx-flash-messages></ngx-flash-messages>


    </mat-list>
  </div>
  <div class="col-sm-5">
    <mat-expansion-panel>
      <mat-expansion-panel-header [collapsedHeight]="'70px'" [expandedHeight]="'70px'">
        <mat-panel-title>
          <mat-list>
            <h3 mat-subheader>show payment details</h3>

          </mat-list>

        </mat-panel-title>
      </mat-expansion-panel-header>
      <mat-grid-list cols="2" rowHeight="50px">
        <mat-grid-tile>
          <b>Purchased By</b>
        </mat-grid-tile>
        <mat-grid-tile>
          {{details.purchasedBy}}
        </mat-grid-tile>
        <mat-grid-tile>
          <b>Purchased On</b>
        </mat-grid-tile>
        <mat-grid-tile>
          {{details.purchasedOn}}
        </mat-grid-tile>
        <mat-grid-tile>
          <b>List Of Items</b>
        </mat-grid-tile>
        <mat-grid-tile>
          {{details.ListOfItems}}
        </mat-grid-tile>
        <mat-grid-tile>
          <b>Total Cost</b>
        </mat-grid-tile>
        <mat-grid-tile>
          {{details.total}}
        </mat-grid-tile>
      </mat-grid-list>

    </mat-expansion-panel>

    </div>
  </div>
</div>

