
<br>
<br>

<div class="alert alert-warning alert-dismissible fade show" role="alert" *ngIf="display">
  Payment successfull
  <button type="button" class="close" data-dismiss="alert" aria-label="Close">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<div *ngIf="order">
  <table class="table">
    <tr>
      <th>PurchasedBy</th>
      <th>PurchasedOn</th>
      <th>Total Price</th>
    </tr>
    <tr (click)="specificDetails()">
      <td>{{order.purchasedBy}}</td>
      <td>{{order.purchasedOn}}</td>
      <td>{{order.items | itemsCost}}</td>
      </tr>

  </table>

</div>
